.signupwindow {
    padding: 20px;
    margin: 20px auto; 
    width: 80%;
    background-color: #0f0f0f;
    border-radius: 15px;
    overflow: hidden;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.signupname {
    font-size: 30px;
    color: #39c5bb;
    padding: 10px;
}

.signupinput {
    font-size: 20px;
    text-align: center;
    height: 50px;
    width: 300px;
    background-color: #212121;
    color: #f5f5f5;
    border-color: #39c5bb;
    border-radius: 15px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.signupbutton {
    font-size: 20px;
    text-align: center;
    height: 50px;
    width: 300px;
    background-color: #2BD591;
    color: #0f0f0f;
    border-color: #2BD591;
    border-radius: 15px;
    margin-top: 5px;
    margin-bottom: 5px;
}