.signout{
    height: 200px;
    width: 200px;
    background-color: #181818;
    border-radius: 15px;
    
    margin-left: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.signoutname {
    transform: translate(40px, 0px);
    color: #39c5bb;
    font-size: 30px;
}

.signoutbutton {
    color: #0f0f0f;
    height: 50px;
    width: 100px;
    border-radius: 15px;
    background-color: #C84153;
    border: 0px;
    font-size: 15px;
    transform: translate(45px, -20px);
}